

.nav-bar{
    list-style-type: none;
    display:flex;
    align-items:right;
    justify-content:end;
    font-size: 17px;
    font-family: 'Nanum Gothic Coding';
    
    padding:30px;
}
  
  li a {
      color: rgb(7, 203, 252);
      text-decoration: none;
      padding: 25px;
      
    }
  
  a:hover {
    color: rgb(10, 238, 181);
  }


  .nav{
    
    height:30px;
    width: 100%;
    position:fixed;
    top:0;
    transition-timing-function: ease-in;
    transition:1.0s;
  
}

.nav__blue{
    background-color:rgba(151, 36, 36, 0);
}